body {
  font-family: Arial;
  background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
  color: white;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
}

h1, h2, h3 {
  text-align: center;
}

button {
  background: #ff9800;
  border: none;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: .3s;
  width: 100%;
}

button:hover {
  background: #ffc107;
  transform: scale(1.03);
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
  font-size: 14px;
}

select {
  background: #fff;
  color: #333;
  font-weight: bold;
}

.card {
  background: rgba(255,255,255,0.1);
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
}

li {
  list-style: none;
  background: rgba(255,255,255,0.1);
  margin: 10px 0;
  padding: 15px;
  border-radius: 12px;
}

.hidden {
  display: none;
}

.destaque {
  background: #ff9800;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
}